SpafooWebService/SpafooWebService/Web References/UserProfile/rh.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="E" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TagLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TOE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uPOS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProTagLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProTagLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProTagLineResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMySample">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMySampleResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CNP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordQA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwdQ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwdA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordQAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordQAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegions">
        <s:complexType />
      </s:element>
      <s:element name="GetRegionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegionsResult" type="tns:ArrayOfListEntryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListEntryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListEntryInfo" nillable="true" type="tns:ListEntryInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListEntryInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EntryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PortalID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ListName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DefinitionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasChildren" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemList" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfListEntryInfo" nillable="true" type="tns:ArrayOfListEntryInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineSoapIn">
    <wsdl:part name="parameters" element="tns:GetProTagLine" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineSoapOut">
    <wsdl:part name="parameters" element="tns:GetProTagLineResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMySample" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMySampleResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQASoapIn">
    <wsdl:part name="parameters" element="tns:ChangePasswordQA" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQASoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordQAResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegions" />
  </wsdl:message>
  <wsdl:message name="GetRegionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserType" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="FN" type="s:string" />
    <wsdl:part name="LN" type="s:string" />
    <wsdl:part name="E" type="s:string" />
    <wsdl:part name="P" type="s:string" />
    <wsdl:part name="Mo" type="s:string" />
    <wsdl:part name="Str" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Region" type="s:string" />
    <wsdl:part name="PC" type="s:string" />
    <wsdl:part name="DN" type="s:string" />
    <wsdl:part name="Bio" type="s:string" />
    <wsdl:part name="TagLine" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="TOE" type="s:string" />
    <wsdl:part name="Lic" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="EIN" type="s:string" />
    <wsdl:part name="uPOS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineHttpGetIn">
    <wsdl:part name="UID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleHttpGetOut" />
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="CP" type="s:string" />
    <wsdl:part name="NP" type="s:string" />
    <wsdl:part name="CNP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="PasswordAnswer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQAHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="pwdQ" type="s:string" />
    <wsdl:part name="pwdA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQAHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRegionsHttpGetIn" />
  <wsdl:message name="GetRegionsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfListEntryInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeHttpGetIn">
    <wsdl:part name="UID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="FN" type="s:string" />
    <wsdl:part name="LN" type="s:string" />
    <wsdl:part name="E" type="s:string" />
    <wsdl:part name="P" type="s:string" />
    <wsdl:part name="Mo" type="s:string" />
    <wsdl:part name="Str" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Region" type="s:string" />
    <wsdl:part name="PC" type="s:string" />
    <wsdl:part name="DN" type="s:string" />
    <wsdl:part name="Bio" type="s:string" />
    <wsdl:part name="TagLine" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="TOE" type="s:string" />
    <wsdl:part name="Lic" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="EIN" type="s:string" />
    <wsdl:part name="uPOS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineHttpPostIn">
    <wsdl:part name="UID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProTagLineHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveMySampleHttpPostOut" />
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="CP" type="s:string" />
    <wsdl:part name="NP" type="s:string" />
    <wsdl:part name="CNP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="PasswordAnswer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQAHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="pwdQ" type="s:string" />
    <wsdl:part name="pwdA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQAHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRegionsHttpPostIn" />
  <wsdl:message name="GetRegionsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfListEntryInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeHttpPostIn">
    <wsdl:part name="UID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="rhSoap">
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <wsdl:input message="tns:GetProTagLineSoapIn" />
      <wsdl:output message="tns:GetProTagLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <wsdl:input message="tns:RemoveMySampleSoapIn" />
      <wsdl:output message="tns:RemoveMySampleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <wsdl:input message="tns:ChangePasswordQASoapIn" />
      <wsdl:output message="tns:ChangePasswordQASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <wsdl:input message="tns:GetRegionsSoapIn" />
      <wsdl:output message="tns:GetRegionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <wsdl:input message="tns:GetUserTypeSoapIn" />
      <wsdl:output message="tns:GetUserTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rhHttpGet">
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserHttpGetIn" />
      <wsdl:output message="tns:UpdateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <wsdl:input message="tns:GetProTagLineHttpGetIn" />
      <wsdl:output message="tns:GetProTagLineHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <wsdl:input message="tns:RemoveMySampleHttpGetIn" />
      <wsdl:output message="tns:RemoveMySampleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordHttpGetIn" />
      <wsdl:output message="tns:ResetPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <wsdl:input message="tns:ChangePasswordQAHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordQAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <wsdl:input message="tns:GetRegionsHttpGetIn" />
      <wsdl:output message="tns:GetRegionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <wsdl:input message="tns:GetUserTypeHttpGetIn" />
      <wsdl:output message="tns:GetUserTypeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rhHttpPost">
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserHttpPostIn" />
      <wsdl:output message="tns:UpdateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <wsdl:input message="tns:GetProTagLineHttpPostIn" />
      <wsdl:output message="tns:GetProTagLineHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <wsdl:input message="tns:RemoveMySampleHttpPostIn" />
      <wsdl:output message="tns:RemoveMySampleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordHttpPostIn" />
      <wsdl:output message="tns:ResetPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <wsdl:input message="tns:ChangePasswordQAHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordQAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <wsdl:input message="tns:GetRegionsHttpPostIn" />
      <wsdl:output message="tns:GetRegionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <wsdl:input message="tns:GetUserTypeHttpPostIn" />
      <wsdl:output message="tns:GetUserTypeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rhSoap" type="tns:rhSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <soap:operation soapAction="http://tempuri.org/GetProTagLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <soap:operation soapAction="http://tempuri.org/RemoveMySample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <soap:operation soapAction="http://tempuri.org/ChangePasswordQA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <soap:operation soapAction="http://tempuri.org/GetRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <soap:operation soapAction="http://tempuri.org/GetUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rhSoap12" type="tns:rhSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <soap12:operation soapAction="http://tempuri.org/GetProTagLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <soap12:operation soapAction="http://tempuri.org/RemoveMySample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <soap12:operation soapAction="http://tempuri.org/ChangePasswordQA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <soap12:operation soapAction="http://tempuri.org/GetRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <soap12:operation soapAction="http://tempuri.org/GetUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rhHttpGet" type="tns:rhHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <http:operation location="/GetProTagLine" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <http:operation location="/RemoveMySample" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <http:operation location="/ResetPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <http:operation location="/ChangePasswordQA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <http:operation location="/GetRegions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <http:operation location="/GetUserType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rhHttpPost" type="tns:rhHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProTagLine">
      <http:operation location="/GetProTagLine" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMySample">
      <http:operation location="/RemoveMySample" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <http:operation location="/ResetPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQA">
      <http:operation location="/ChangePasswordQA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <http:operation location="/GetRegions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <http:operation location="/GetUserType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rh">
    <wsdl:port name="rhSoap" binding="tns:rhSoap">
      <soap:address location="http://www.spafoo.com/DesktopModules/NS_UserProfile/rh.asmx" />
    </wsdl:port>
    <wsdl:port name="rhSoap12" binding="tns:rhSoap12">
      <soap12:address location="http://www.spafoo.com/DesktopModules/NS_UserProfile/rh.asmx" />
    </wsdl:port>
    <wsdl:port name="rhHttpGet" binding="tns:rhHttpGet">
      <http:address location="http://www.spafoo.com/DesktopModules/NS_UserProfile/rh.asmx" />
    </wsdl:port>
    <wsdl:port name="rhHttpPost" binding="tns:rhHttpPost">
      <http:address location="http://www.spafoo.com/DesktopModules/NS_UserProfile/rh.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>